@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;1,200;1,400&display=swap');

:root {
  --text-font-size: 1.2em;
  --header-font-size: 1.6em;
  --padding: 36px;
  --pinky: #895498;
}
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { background-color: transparent; }
::-webkit-scrollbar-thumb {
  background-color: #838383;
  background-clip: content-box;
  border: 4px solid rgba(0, 0, 0, 0);
}
::selection {
  background: var(--pinky);
}
html, body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', Consolas, Courier, monospace;
  scroll-behavior: smooth;
  background: #000;
  width: 100%;
  height: 100%;
}
* {  
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}
#webgl-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
a {
  color: var(--pinky);
  text-decoration: none;
  font-weight: 400;
}

/* --------- overlay / info --------- */
#overlay {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 20;
  transition: all 1s;
}
#overlay > h1,
#overlay > button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: var(--header-font-size);
  font-weight: 200; 
}
#overlay > button {
  cursor: pointer;
  color: #fff;
  font-family: 'IBM Plex Mono', Consolas, Courier, monospace;
  background: none;
  user-select: none;
}
.project-title {
  left: var(--padding);
  top: var(--padding);
  height: 50px;
}
.start-btn {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  padding: 8px 18px 12px;
  opacity: 1;
}
.about-btn {
  border: none;
  width: 1.6em;
  -webkit-text-stroke: 1px #000;
  right: var(--padding);
  bottom: var(--padding);
  height: 50px;
  z-index: 25;
}

.about {
  position: relative;
  width: 70vw;
  height: calc(100vh - 220px);
  left: 15vw;
  top: 110px;
  border: 1px solid #fff;
  padding: calc(var(--padding) - 7px) var(--padding);
  overflow-y: scroll;
}
.about section {
  margin-bottom: 40px;
}
.about h3 {
  font-size: var(--header-font-size);
  margin-bottom: 1em;
}
.about p {
  font-size: var(--text-font-size);
  margin-bottom: 0.8em;
  line-height: 1.8em;
  font-weight: 200;
}
.about p:last-child {
  margin-bottom: 2.6em;
}

.image-container {
  display: flex;
  min-width: 100%;
  margin-bottom: 30px;
  justify-content: center;
}
.image-container img {
  width: 240px;
}
.image-container:nth-child(2) img {
  margin-bottom: 20px;
}
.image-container:first-child img {
  width: 90px;
}

.guides, .duration {
  position: absolute;
  z-index: 21;
  color: var(--pinky);
  line-height: 2em;
  user-select: none;
  font-weight: bold;
}
.guides {
  bottom: var(--padding);
  left: var(--padding);
}
.duration {
  top: var(--padding);
  right: var(--padding);
}
.guides span {
  border: 1px solid var(--pinky);
  border-radius: 5px;
  padding: 0 5px;
}

/* --------- media elements --------- */
.modal {
  position: absolute;
  transition: all 1s;
  z-index: 11;
}
#video-player {
  position: absolute;
  left: 250px;
  top: 60px;
  z-index: 10;
  opacity: 0;
  transition: opacity 2s;
}


/* --------- loader --------- */
.loader {
  position: absolute;
  z-index: 30;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 var(--padding);
  text-align: center;
}
.spinner {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.spinner > div {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% { transform: perspective(120px); }
  50% { transform: perspective(120px) rotateY(180deg); }
  100% { transform: perspective(120px) rotateY(180deg) rotateX(180deg); }
}

@media (max-width: 800px) {
  :root {
    --text-font-size: 0.9em;
    --header-font-size: 1.4em;
    --padding: 20px;
  }
  .project-title {
    top: var(--padding);
    left: var(--padding);
  }
  .about-btn {
    top: var(--padding);
    right: var(--padding)
  }
  .about {
    width: calc(100vw - (var(--padding) * 2));
    height: calc(100vh - 100px - var(--padding) * 4);
    left: var(--padding);
    top: calc(50px + var(--padding) * 2);
  }
}