html, body {
  font-family: var(--font-sans);
  font-weight: 300;
  width: 100%;
  height: 100%;
}
a {
  font-weight: 400;
}

#webgl-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* --------- loader --------- */
.loader {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 30;
  left: 50%;
  top: calc(43% - 42px);
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
}
.spinner {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.spinner > div {
  width: 56px;
  height: 56px;
  border: 1px solid #ccc;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% { transform: perspective(120px); }
  50% { transform: perspective(120px) rotateY(180deg); }
  100% { transform: perspective(120px) rotateY(180deg) rotateX(180deg); }
}

/* --------- overlay / info --------- */
#overlay {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: all 2s;
}
#overlay > h1,
#overlay > button,
#overlay > a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-sm);
}
#overlay > button {
  cursor: pointer;
  background: none;
  user-select: none;
}

.page-title {
  left: var(--padding-xl);
  top: var(--padding-xl);
  font-weight: 300;
  height: var(--btn-height);
}
.about-btn,
.sound-btn {
  border: none;
  right: var(--padding-xl);
  height: var(--btn-height);
  width: var(--btn-height);
  z-index: 25;
}
.about-btn {  
  top: var(--padding-xl);
  padding: 6px;
  color: #ccc;
}
.sound-btn {
  top: calc(var(--padding-xl) + var(--btn-height) + 30px);

  padding: 4px;
}

.start-btn,
.reset-btn, 
.publication-link {
  left: 50%;
  top: 43%;
  transform: translate(-50%, 0);
  border: 2px solid var(--pinki);
  padding: 8px 18px 12px;
  height: 56px;
}
.start-btn {
  font-family: var(--font-script);
  color: var(--pinki);
  
}
.reset-btn {
  left: calc(50% - 126px);
  padding: 13px;
  width: 56px;
}
.publication-link {
  top: calc(43% + 80px);
  border: 1px solid #ccc;
  color: #ccc;
  font-weight: 300;
}

.publication-thumb {
  opacity: 0;
  width: 500px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: opacity 0.3s ease-out;
}

.start-btn:hover ~ .guides,
.start-btn:hover ~ .duration,
.publication-link:hover ~ .publication-thumb {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}


/* --- about section --- */
.about {
  position: absolute;
  width: 800px;
  padding: 0 var(--padding-xl);
  height: calc(100vh - 220px);
  left: 50%;
  transform: translate(-50%, 0);
  top: 110px;
  overflow-y: scroll;
}
.about section {
  margin-bottom: 40px;
}
.about section:last-child {
  margin-bottom: 0;
}
.about h3 {
  font-size: var(--font-sm);
  margin: 40px 0 15px;
}
.about p {
  font-size: var(--font-sm);
  margin-bottom: 1em;
  line-height: 1.5em;
}
.about p:last-child {
  margin-bottom: 0;
}

.image-container {
  display: flex;
  min-width: 100%;
  margin-bottom: 30px;
  justify-content: center;
}
.image-container img {
  width: 240px;
}
.image-container:nth-child(2) img {
  margin-bottom: 15px;
}
.image-container:first-child img {
  width: 90px;
}

@media (max-width: 800px) {
  .about {
    width: 100%;
    height: calc(100% - var(--padding-xl) * 4);
    top: calc(30px + var(--padding-xl) * 2);
  }
}


/* --- guides --- */
.duration,
.guides {
  position: absolute;
  z-index: 21;
  color: var(--pinki);
  line-height: 2em;
  user-select: none;
  font-weight: bold;
  bottom: var(--padding-xl);
  opacity: 1;
  transition: opacity 0.3s ease-out;
  font-family: var(--font-script);
}
.duration {
  opacity: 0;
  right: var(--padding-xl);
}
.guides {
  opacity: 0;
  left: var(--padding-xl);
}
.guides span {
  border: 1px solid var(--pinki);
  border-radius: 3px;
  padding: 0 5px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.guides img {
  height: 36px;
  top: 10px;
  position: relative;
}


/* --------- media elements --------- */
#subtitle {
  position: absolute;
  width: 100%;
  bottom: 50px;
  font-size: 1.6em;
  height: 2.9em;
  line-height: 1.4em;
  text-align: center;
  color: #ffecb3;
  opacity: 1;
  transition: opacity 1s;
  text-shadow: black -1.5px 1.5px;
}
.modal {
  position: absolute;
  transition: all 1s;
  z-index: 11;
}
#video-player {
  position: absolute;
  left: 250px;
  top: 60px;
  z-index: 11;
  opacity: 0;
  transition: opacity 2s;
}

/* --------- intro background --------- */
@keyframes gradient {
	0% {
		background-position: 0 0, 0% 50%;
	}
	50% {
		background-position: 0 0, 100% 50%;
	}
	100% {
		background-position: 0 0, 0% 50%;
	}
}

#overlay.intro-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 2s cubic-bezier(0.4, 0, 0.2, 1);
  background:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="4" stitchTiles="stitch"/></filter><rect width="200" height="200" filter="url(%23noise)" opacity="0.18"/></svg>'),
    linear-gradient(-45deg, #10101018, #1f1d2083);
  background-size: 200px 200px, 400% 100%;
  background-repeat: repeat, no-repeat;
  background-position: 0 0, 0% 50%;
  animation: gradient 10s ease infinite;
}

#overlay.intro-gradient.loaded::after {
  opacity: 1;
}