@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;1,200;1,400&display=swap');

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { background-color: transparent; }
::-webkit-scrollbar-thumb {
  background-color: #838383;
  background-clip: content-box;
  border: 4px solid rgba(0, 0, 0, 0);
}
::selection {
  /* color: var(--code-green); */
  background: rgb(133, 76, 51);
}
:root {
  --text-font-size: 20px;
  --header-font-size: 2em;
  --padding: 40px;
}
html, body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', Consolas, Courier, monospace;
  scroll-behavior: smooth;
  background: #000;
  width: 100%;
  height: 100%;
}

* {  
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

#webgl-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* --------- overlay / info --------- */
#overlay {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 20;
  transition: all 1s;
}

.project-title {
  font-size: var(--header-font-size);
  position: absolute;
  left: 40px;
  top: 30px;
  font-weight: 200;
}

#overlay > button {
  position: absolute;
  cursor: pointer;
  color: #fff;
  font-size: var(--header-font-size);
  font-family: 'IBM Plex Mono', Consolas, Courier, monospace;
  font-weight: 200;
  background: none;
  user-select: none;
}
.start-btn {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  padding: 8px 18px 12px;
  opacity: 1;
}
.about-btn {
  right: 40px;
  bottom: 30px;
  border: none;
  width: 1.6em;
  -webkit-text-stroke: 1px #000;
}

.about {
  position: relative;
  width: 80vw;
  height: 80vh;
  left: 10vw;
  top: 10vh;
  border: 1px solid #fff;
  padding: var(--padding);
  overflow-y: scroll;
}
.about section {
  margin-bottom: 40px;
}
.about h3 {
  margin-bottom: 0.5em;
}
.about p {
  font-size: var(--text-font-size);
  margin-bottom: 20px;
  line-height: 1.8em;
}

/* --------- media elements --------- */
.modal {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}
#video-player {
  position: absolute;
  left: 250px;
  top: 60px;
  -webkit-box-shadow: 0px 0px 45px -5px #1f1f1f; 
  box-shadow: 0px 0px 45px -5px #1f1f1f;
  z-index: 10;
  opacity: 0;
  transition: opacity 2s;
}


/* --------- loader --------- */
.loader {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  z-index: 30;
  color: #fff;
}
.spinner > div {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  margin-top: calc(50vh - 30px);
  margin-bottom: 30px;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% { transform: perspective(120px); }
  50% { transform: perspective(120px) rotateY(180deg); }
  100% { transform: perspective(120px) rotateY(180deg) rotateX(180deg); }
}

@media (max-width: 800px) {
  :root {
    --text-font-size: 15px;
    --header-font-size: 1.6em;
    --padding: 15px;
  }
}